.App {
  text-align: center;
}

.footer {
  background-color: orange;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.headCol {
  /*width: 20%;*/
}
.profileGame{
  display: inline-block;
}
.games {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  width: 15%;
  height: ;
}

a {
  cursor: pointer;
}

/*.head {
  width: 100%;
  background-color: orange;
  padding: 10px 0;
}

.navBar {
  width: 50%;
  background-color: green;
  display: inline-block;
}

.personalBar {
  width: 50%;
  background-color: red;
  display: inline-block;
}*/

.main {
  background-color: blue;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
